body {
    font-family: Arial, sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 1080px;
    height: 1920px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#template {
    width: 100%;
    height: 100%;
    display: block;
}

.logo {
    position: absolute;
    width: 200px; /* يمكن تعديل حجم الشعار حسب الحاجة */
    height: auto;
    cursor: pointer;
}

#team1-logo {
    left: 749px; /* الموقع الأفقي للشعار الأول */
    top: 1336px; /* الموقع العمودي للشعار الأول */
}

#team2-logo {
    left: 132.5px; /* الموقع الأفقي للشعار الثاني */
    top: 1336px; /* الموقع العمودي للشعار الثاني */
}

.controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* خلفية شبه شفافة */
    padding: 10px;
    border-radius: 5px;
}

select {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}